.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.visualization {
    margin-bottom: 150px;
}

.dropdown-container {
    text-align: center;
    margin: 10px auto;
}

.dropdown-container select {
    margin: 5px;
    padding: 5px;
    display: inline-block; /* Align the dropdowns inline and center them */
}
.center-container {
    text-align: center;
    margin: 10px 0;
}

.center-container select {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}


#vis1, #vis2, #vis3, #linkedVis, #vis4, #vis5, #vis6, #vis7 {
    margin: 20px auto;
    height: 500px;
}

#linked-view-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

#vis3 {
    margin-bottom: 10px;
}
  
#linkedVis {
    margin-top: 16px;
}

#spatial-linked {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

#vis6 {
    margin-bottom: 10px;
}
  
#vis7 {
    margin-top: 10px;
}

select, #button-container button {
    margin: 10px;
    padding: 5px;
}

select, #spatial-button-container button {
    margin: 10px;
    padding: 5px;
}

h1, h2, h3 {
    color: #253342;
}

h1{
    font-size: 50px;
    text-decoration-line: underline;
}

h3{
    font-size: 30px;
}

p {
    color: #4f5b66;
    font-size: 18px;
}

.navbar {
    background-color: #253342;
    padding: 10px;
    text-align: center;
}

.navbar button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4f5b66;
    color: white;
    border: none;
}
